body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding-bottom: 100px;
}

div#body {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1020px;
    background: url('images/blackampersands.png') left 418px top 79px no-repeat;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 671;
}

p {
    font-size: 15px;
    line-height: 1.8;
}

div p.section-description {
    font-size: 16px;
    font-weight: bold;
    border: 1px;
    line-height: 1.2;
}

#right-header {
    padding-top: 75px;
    float: right;
    font-weight: bold;
}

/* CHAPTERS */

div#chapters {
    padding-top: 60px;
}

div#chapters ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

div#chapters ul a {
    text-decoration: none;
    font-size: 30px;
}

/* FAQ */

div#faq {
        padding-top: 68px;
}

/* LAST QUESTION */

div#last_question {
        padding-top: 68px;
}

/* CODE OF CONDUCT */

div#code_of_conduct {
        padding-top: 68px;
}

/* EVENTS */

div#events {
    padding-top: 60px;
}
